/* List */

body #block-list {
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body .block-list-box {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
    border: 2px solid black;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 10px;
    margin: 2%;
    box-shadow: -3px 3px 10px #3a444d;
}

body .block-list-box-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2%;
    width: 260px;
    height: 180px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -3px 3px 10px #3a444d;
    overflow: hidden;

}

body .block-list-box-pokemon .block-list-box-pokemon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
}

body .block-list-box-pokemon .block-list-box-pokemon-button img {
    width: 50%;
    margin: 10px; 
}

body .block-list-box-pokemon-button h1 {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: clamp(15px, 20px, 25px);
    font-weight: bold;
    margin: 2%;
    color: #3a444d;
    text-align: center;
}

body #block-list .block-list-box-button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
}

body #block-list .block-list-box-button img{
    background: none;
}

/* Botão detalhes */

body .overlay.active {
    position: fixed;
    z-index: 4;
    background-color: black;
    opacity: 80%;
    height: 100%;
    width: 100%;
    transition: all .3s ease-in-out;
}

body .block-details.active {
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    background-color: ghostwhite;
    height: 80%;
    width: 40%;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: -3px 3px 10px #000000;
    transition: all .5s ease-in-out;
    transform: translate(-50%, -50%);
}

body .block-details .block-details-header {
    display: none;
}

body .block-details.active .block-details-header {
    width: 100%;
    height: 7%;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(223, 74, 74);
    display: flex;
    align-items: center;
}

body .block-details.active .block-details-header h1 {
    overflow: hidden;
    display: block;
    margin-left: 10px;
    font-size: 2em;
    font-weight: bold;
    font-weight: 600;
    color: black;
}

body .block-details.active .block-details-header .pokemon-icon {
    display: block;
    width: 4%;
    margin-left: 10px;
}

body .block-details.active .block-details-header .block-details-header-button {
    display: none;
}

body .block-details.active .block-details-header .block-details-header-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: ghostwhite;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: -3px 3px 10px #000000;
    overflow: hidden;
}

body .block-details.active .block-details-header .block-details-header-button img {
    width: 24px;
    height: 24px;
}

body .block-details.active .block-details-header .block-details-header-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: ghostwhite;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: -3px 3px 10px #000000;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

body .block-details.active .block-details-header .block-details-header-button:hover {
    transition: all .3s linear;
    width: 60px;
    height: 60px;
}

body .block-details.active .block-details-header .block-details-header-button.active {
    transition: all .3s ease-in-out;
    background-color: gold;
}

body .block-details.active .block-details-header .block-details-header-button img {
    display: block;
    width: 24px;
    height: 24px;
}

body .block-details.active .block-details-header .block-details-header-button:hover img {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
}

body .block-details.active .block-details-image {
    position: relative;
    margin: 15px auto;
    width: 90%;
    height: 30%;
    overflow: hidden;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: -3px 3px 10px #3a444d;;
}


body .block-details .block-details-image-backgound {
    display: none;
}

body .block-details.active .block-details-image-backgound {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
}

body .block-details.active #block-details-slick {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

body .block-details.active #block-details-slick img {
    width: 50%;
}

.slick-prev-arrow,
.slick-next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: rgba(58, 58, 58, 0.5);
    border: none;
    color: white;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: 0.3s, color 0.3s;
}

.slick-prev-arrow {
    left: -70%;
}

.slick-next-arrow {
    right: -30%;
}

.slick-prev-arrow:hover, .slick-next-arrow:hover {
    background-color: rgba(169, 169, 169, 0.7);
    color: white;
}

body .block-details .block-details-info-attacks {
    display: none;
}

body .block-details.active .block-details-info-attacks {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: block;
    top: 0;
    margin-top: 14px;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, #6ab7f5, ghostwhite);
    border-top: 5px solid black;
    transition: all .3s ease-in-out;
}

body .block-details.active .block-details-info-attacks h1 {
    font-size: 2em;
    font-weight: bold;
    font-weight: 600;
    color: #3a444d;
    margin-top: 15px;
    width: 100%;
    height: 30%;
    transition: all .3s ease-in-out;
}

body .block-details.active .block-details-info-attacks-list {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 14px;
    width: 100%;
    height: 30%;
    transition: all .3s ease-in-out;
}

body .block-details.active .block-details-info-attacks-list li {
    margin: 10px;
    font-size: larger;
    list-style-type: none;
}

body .block-details .block-details-info-evolutions {
    display: none;
}

body .block-details.active .block-details-info-evolutions {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: block;
    top: 0;
    width: 100%;
    height: 28.7%;
    background: linear-gradient(to bottom, ghostwhite, #6ab7f5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .3s ease-in-out;
}

body .block-details.active .block-details-info-evolutions h1 {
    font-size: 2em;
    font-weight: bold;
    font-weight: 600;
    color: #3a444d;
    margin-top: 15px;
    width: 100%;
    height: 30%;
    transition: all .3s ease-in-out;
}

body .block-details.active .block-details-info-evolutions-list {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 14px;
    width: 100%;
    height: 30%;
    transition: all .3s ease-in-out;
}

body .block-details.active .block-details-info-evolutions-list li {
    margin: 10px;
    font-size: larger;
    list-style-type: none;
}